---
import Base from "../layouts/Base.astro";
---

<Base title="Noah Schell" currentPage="home">
  <h1>Noah Schell</h1>

  <p>
    Hi! I study math and computer science in the Turing Scholars program at UT Austin. 
    This semester, I'm working as a software engineering intern at Cloudflare and taking 
    Honors Computer Graphics (CS 354H).
  </p>

  <p>
    I spend a lot of my time at <a href="https://www.hillhouseaustin.org/" target="_blank" rel="noopener">Hill House</a>, a Christian study center serving 
    the UT Austin community. I live at Sophia Hall as a member of their residency program. In the past, I've been a counselor 
    at <a href="https://www.ignitetexas.org/" target="_blank" rel="noopener">Ignite Texas</a>. I'm also a member at 
    <a href="https://graceandpeaceaustin.com/" target="_blank" rel="noopener">Grace and Peace Austin</a>.
  </p>

  <p>
    I really like street tacos. Once in a while, I like playing chess, solving a Rubik's cube, or dancing Two-Step.
  </p>

  <p>
    I'm currently reading Desiring God by John Piper with my girlfriend, Sara. 
  </p>

  <div class="links">
    <a href="https://github.com/nSchell4" target="_blank" rel="noopener">github</a>
    <a href="https://www.linkedin.com/in/noah-schell" target="_blank" rel="noopener">linkedin</a>
    <a href="https://letterboxd.com/nschell4/" target="_blank" rel="noopener">letterboxd</a>
  </div>
</Base>
